<template>
  <div>
    <beautiful-chat
        :participants="participants"
        :titleImageUrl="titleImageUrl"
        :onMessageWasSent="onMessageWasSent"
        :messageList="messageList"
        :newMessagesCount="newMessagesCount"
        :isOpen="isChatOpen"
        :close="closeChat"
        :open="openChat"
        :showEmoji="true"
        :showFile="true"
        :showEdition="true"
        :showDeletion="true"
        :deletionConfirmation="true"
        :showTypingIndicator="showTypingIndicator"
        :showLauncher="true"
        :showCloseButton="true"
        :colors="colors"
        :alwaysScrollToBottom="alwaysScrollToBottom"
        :disableUserListToggle="false"
        :messageStyling="messageStyling"
        @onType="handleOnType"
        @edit="editMessage"/>
  </div>
</template>

<script>

import {mapGetters} from 'vuex'
import {retrieveMessages, sendMessage as wsSendMessage, logout as wsLogout} from "@/service/socket";


export default {
  name: 'app',
  data() {
    return {
      participants: [

      ], // the list of all the participant of the conversation. `name` is the user name, `id` is used to establish the author of a message, `imageUrl` is supposed to be the user avatar.
      titleImageUrl: 'https://a.slack-edge.com/66f9/img/avatars-teams/ava_0001-34.png',
      messageList: [
        {type: 'text', author: `me`, data: {text: `Say yes!`}},
        {type: 'text', author: `user1`, data: {text: `No.`}}
      ], // the list of the messages to show, can be paginated and adjusted dynamically
      newMessagesCount: 0,
      isChatOpen: false, // to determine whether the chat window should be open or closed
      showTypingIndicator: '', // when set to a value matching the participant.id it shows the typing indicator for the specific user
      colors: {
        header: {
          bg: '#4e8cff',
          text: '#ffffff'
        },
        launcher: {
          bg: '#4e8cff'
        },
        messageList: {
          bg: '#ffffff'
        },
        sentMessage: {
          bg: '#4e8cff',
          text: '#ffffff'
        },
        receivedMessage: {
          bg: '#eaeaea',
          text: '#222222'
        },
        userInput: {
          bg: '#f4f7f9',
          text: '#565867'
        }
      }, // specifies the color scheme for the component
      alwaysScrollToBottom: false, // when set to true always scrolls the chat to the bottom when new events are in (new message, user starts typing...)
      messageStyling: true // enables *bold* /emph/ _underline_ and such (more info at github.com/mattezza/msgdown)
    }
  },
  methods: {
    sendMessage({type: msgType, data: msgData}) {
      return wsSendMessage({type: msgType, data: msgData[msgType]})
    },
    receiveMessage(message) {
      this.messageList.push(message)
      this.newMessagesCount = this.isChatOpen ? this.newMessagesCount : this.newMessagesCount + 1
    },
    onMessageWasSent(message) {
      // called when the user sends a message
      if (message.type == 'text' && message.data.text.length == 0)
        return
      this.sendMessage(message)
          .then(() => this.messageList.push(message))
    },
    openChat() {
      // called when the user clicks on the fab button to open the chat
      this.isChatOpen = true
      this.newMessagesCount = 0
    },
    closeChat() {
      // called when the user clicks on the botton to close the chat
      this.isChatOpen = false
    },
    handleScrollToTop() {
      // called when the user scrolls message list to top
      // leverage pagination for loading another page of messages
    },
    handleOnType() {
      console.log('Emit typing event')
    },
    editMessage(message) {
      const m = this.messageList.find(m => m.id === message.id);
      m.isEdited = true;
      m.data.text = message.data.text;
    },
    convertSrvMsgToChatMsg(message) {
      return {
        author: message.sender_id === this.$store.getters.myProfile.id ? 'me' : message.id,
        type: message.message.type,
        data: {[message.message.type]: message.message.data}
      }
    },
    async initChat() {
      try {
        await this.$store.dispatch('authenticateChat')
      } catch (err) {
        console.error("error during authenticateChat", err)
        wsLogout()
        await this.$store.dispatch('authenticateChat')
      }

      retrieveMessages()
          .then((messages) => {
            this.messageList = []
            for (let message of messages)
              this.messageList.push(this.convertSrvMsgToChatMsg(message))
          })
          .catch((err) => console.error('retrieveMessages error', err))
    }
  },
  computed: {
    ...mapGetters(['myProfile'])
  },
  created() {
    console.log('in created')
    this.initChat()
  }
}
</script>

<style scoped>
beautiful-chat {
  top: 50%;
  position: fixed;
}

</style>
