<template>

  <div v-if="loadingState == 'done'">
    <slot></slot>
  </div>

  <div v-else-if="loadingState == 'loading'">
    <p>Loading...</p>

  </div>

  <div v-else>
    <p>Error during loading...</p>
  </div>
</template>

<script>
export default {
  name: "LoadingPlaceholder",
  props: {
    loadingState: {type: String, default: 'loading'}
  }
}
</script>

<style scoped>

</style>
