<template>
  <nav draggable="false" class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <router-link :to="{name: 'profile', params: {userId: 'me'}}" class="nav-link">
      <BIconPersonSquare/>
      Profile
    </router-link>
    <router-link :to="{name: 'calendar'}" class=" nav-link">
      <BIconCalendarCheck/>
      Calendar
    </router-link>
    <router-link :to="{name: 'projects'}" class="nav-link">
      <BIconBriefcase/>
      Plan
    </router-link>
    <router-link :to="{name: 'search'}" class="nav-link">
      <BIconSearch/>
      Search
    </router-link>
    <router-link :to="{name: 'logout'}" class="nav-link active">
      <BIconDoorOpen/>
      Logout
    </router-link>
  </nav>
</template>

<script>
export default {
  name: "NavBar"
}
</script>

<style scoped lang="scss">


.router-link-active {
  color: rgba(black, .9);
  font-size: larger;

}

.nav-link {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  user-drag: none;
  -webkit-user-drag: none;
}
</style>
