<template>
  <div class="element">
    <p>Name: {{section.name}}</p>
    <p>Tags: {{section.tags.join(', ')}}</p>
    <p>Description: {{section.description}}</p>
  </div>

</template>

<script>
export default {
  name: "Section",
  props: ["section"]
}
</script>

<style scoped>
.element {
  border: 1px solid;
}
</style>
