<template>
<div>
  <DraggableCal :days="60" :fullMonths="false"/>
</div>


</template>

<script>
import DraggableCal from 'vue-draggable-cal';


export default {
  name: "Calendar",
  components: {
    DraggableCal,
  }
}
</script>

<style scoped>

</style>
