<template>
  <div>
    <h1>Main</h1>
    <NavBar/>

    <router-view></router-view>
    <ChatLauncher/>
  </div>
</template>

<script>
import NavBar from "@/components/NavBar";
import Overlay from 'vuejs-overlay';
import ChatLauncher from "@/components/ChatLauncher";

export default {
  name: "Main",
  components: {
    ChatLauncher,
    NavBar,
    Overlay
  }
}
</script>

<style>
.sc-chat-window {
  z-index: 2500;
}

ChatLauncher {
  top: 50%
}

</style>
