<template>
  <div>
    <h1>Profile</h1>

    <div v-if="loadingState == 'done'">
      <img :src="profile.avatar" width="50px" height="50px">
      <p>{{ profile.first_name }} {{ profile.last_name[0] + '.' }}</p>
      <p>About: {{ profile.about }}</p>

      <b-button @click="showModal=true"> Edit profile</b-button>

      <Modal v-model="showModal" title="Edit profile">
        <form @submit.prevent="updateProfile" class="form-horizontal">
          <fieldset>

            <!-- Form Name -->
            <!--            <legend>Edit profile</legend>-->

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md control-label" for="firstName">First name</label>
              <div class="col-md">
                <input id="firstName" name="firstName" type="text"
                       class="form-control input-md" :value="profile.first_name">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md control-label" for="lastName">Last name</label>
              <div class="col-md">
                <input id="lastName" name="lastName" type="text" :value="profile.last_name"
                       class="form-control input-md">

              </div>
            </div>

            <!--  Birthday input     -->
            <div class="form-group">
              <label class="col-md control-label" for="birthDate">Birth date</label>
              <div class="col-md">
                <input id="birthDate" name="birthDate" type="date" :value="birthDate"
                       class="form-control input-md">

              </div>
            </div>


            <!-- File Button -->
            <div class="form-group">
              <label class="col-md control-label" for="avatar">Change avatar</label>
              <div class="col-md">
                <input id="avatar" name="avatar" class="input-file" type="file">
              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md control-label" for="about">About</label>
              <div class="col-md">
                <textarea class="form-control" id="about" name="about">{{profile.about}}</textarea>
              </div>
            </div>

          </fieldset>

          <b-button variant="danger" @click="showModal = false">Cancel</b-button>
          <b-button variant="success" type="submit" v-on:click="$emit('submit')">Save</b-button>
        </form>
      </Modal>

    </div>

    <div v-else-if="loadingState == 'loading'" class="d-flex align-items-center">
      <strong>Loading...</strong>
      <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
    </div>

    <div v-else>
      <p>Error during loading...</p>
    </div>
  </div>
</template>

<script>
import Datepicker from '@/components/TouchDatePicker.vue';
import moment from "moment"


export default {
  name: "Profile",
  components: {Datepicker},
  data() {
    return {
      loadingState: 'loading',
      showModal: false
    }
  },
  methods: {
    updateProfile(submitEvent) {
      let elements = submitEvent.target.elements
      this.loadingState = 'Loading'
      this.$store.dispatch('updateProfile', {
        first_name: elements.firstName.value,
        last_name: elements.lastName.value,
        about: elements.about.value,
        birth_date: new Date(elements.birthDate.value)
        //avatar: elements.avatar.files[0]
      })
          .then(() => {
            this.showModal = false
            this.loadingState = 'done'
          })
          .catch(() => {
            this.loadingState = 'error'
          })
    }
  },
  computed: {
    birthDate() {
      return moment(this.profile.birth_date).format('YYYY-MM-DD')
    },
    profile() {
      return this.$store.state.users[this.$route.params.userId]
    }
  },
  beforeMount() {
    this.$store.dispatch('loadProfile', this.$route.params.userId)
        .then(() => this.loadingState = 'done')
        .catch((err) => {
          this.loadingState = 'error';
          console.error(err)
        })
  }
}
</script>

<style scoped>

</style>
