<template>
  <div>
    <h1>Projects</h1>

    <div v-if="loadingState == 'done'" class="container">

      <b-button @click="showModal=true" class="col-12">
        <BIconPlusSquare/>
        Add section
      </b-button>

      <Modal v-model="showModal" title="Add a new Section">
        <form @submit.prevent="addSection">
          <div class="form-group row">
            <label for="name" class="col-4 col-form-label">Section name</label>
            <div class="col-8">
              <input id="name" name="name" type="text" required="required" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="description" class="col-4 col-form-label">Description</label>
            <div class="col-8">
              <textarea id="description" name="description" cols="40" rows="2" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="tags" class="col-4 col-form-label">Tags</label>
            <div class="col-8">
              <input id="tags" name="tags" type="text" class="form-control" aria-describedby="tagsHelpBlock">
              <span id="tagsHelpBlock" class="form-text text-muted">Comma separated single words</span>
            </div>
          </div>
          <b-button variant="danger" @click="showModal = false">Cancel</b-button>
          <b-button variant="success" type="submit" v-on:click="$emit('submit')">Save</b-button>
        </form>

      </Modal>

      <!--      Actual sections -->
      <div class="row">
        <Section v-for="section in this.$store.state.users.me.sections" :key="section.id" :section="section"
                 class="col-6">
          <Project v-for="project in section.projects" :key="project.id" :project="project"></Project>
        </Section>
      </div>
    </div>


    <div v-else-if="loadingState == 'loading'" class="d-flex align-items-center">
      <strong>Loading...</strong>
      <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
    </div>

    <div v-else>
      <p>Error during loading...</p>
    </div>
  </div>
</template>


<script>
import Project from "@/components/Project";
import Section from "@/components/Section";
import {BIconPlusSquare} from 'bootstrap-vue'

export default {
  name: "Projects",
  components: {Project, Section,},
  data() {
    return {
      loadingState: 'loading',
      showModal: false
    }
  },
  methods: {
    addSection(submitEvent) {
      let elements = submitEvent.target.elements
      this.$store.dispatch('addSection', {
        name: elements.name.value,
        description: elements.description.value,
        tags: elements.tags.value.split(',')
            .map((tag) => String.prototype.trim.call(tag))
      })
    }
  },
  created() {
    this.$store.dispatch('loadSectionsProjects', 'me')
        .then(() => this.loadingState = 'done')
        .catch((err) => {
          this.loadingState = 'error';
          console.error(err)
        })
  }
}
</script>


<style scoped>

</style>
