<template>
  <div>

    <form @submit.prevent="register">
      <label for="firstName">
        First name:
      </label>
      <input v-model="firstName" type="text" name="firstName" value>

      <br>
      <label for="lastName">
        Last name:
      </label>
      <input v-model="lastName" type="text" name="lastName" value>

      <br>
      <label for="email">
        Email:
      </label>
      <input v-model="email" type="email" name="email" value>

      <br>
      <label for="password">
        Password:
      </label>
      <input v-model="password" type="password" name="password" value>

      <br>
      <button type="submit" name="button">
        Register
      </button>

      <ul>
        <li v-for="(error, index) in errors" :key="index">
          {{ error }}
        </li>
      </ul>

      <router-link :to="{name:'login'}">
        Already have an account? Login.
      </router-link>
    </form>
  </div>
</template>

<script>
export default {
  data () {
    return {
      firstName: '',
      lastName: '',
      email: '',
      password: '',
      errors: null
    }
  },
  methods: {
    register () {
      this.$store
        .dispatch('register', {
          first_name: this.firstName,
          last_name: this.lastName,
          email: this.email,
          password: this.password
        })
        .then(() => {
          this.$router.push({ name: 'profile' })
        })
        .catch(err => {
          this.errors = err.response.data.errors
        })
    }
  }
}
</script>

<style scoped>
</style>
