<template>
<div>
  <h1>Welcome</h1>

  <router-view></router-view>
</div>
</template>

<script>

import Login from '@/views/Login'
import Register from '@/views/Register'
//import LoadingPlaceholder from "@/components/LoadingPlaceholder";

export default {
  name: "Welcome",
  components: {
    //LoadingPlaceholder,
    Login,
    Register
  }
}
</script>

<style scoped>

</style>
